<!-- TabScore2, a wireless bridge scoring program.  Copyright(C) 2024 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore2.Models.ShowBoardsModel

<div id="notAllResultsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-danger">
                <p class="modal-title text-center">
                    <h3>@localizer["Warning"]</h3>
                </p>
            </div>
            <div class="modal-body">
                <p>@localizer["ErrorEnterResult"]</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-success" data-bs-dismiss="modal">
                    @localizer["OK"] <span class="fa fa-check-circle"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 mb-3">
    <div class="col-12 text-center p-0">
        <h2>
            @localizer["Boards"]
        </h2>
    </div>
</div>

@foreach (var result in Model)
{
    <div class="row">
        <div class="col-1 align-self-center">
            <h4>
                @result.BoardNumber:
            </h4>
        </div>
        <div class="col-6 px-3">
            @if (result.ContractLevel == -999)
            {
                <button class="btn btn-primary btn-lg m-1 px-1" style="min-width: 5rem" ontouchstart="touchAvailable = true; EnterEdit(@result.BoardNumber)" onclick="if (!touchAvailable) EnterEdit(@result.BoardNumber)">
                    @localizer["Enter"]
                </button>
            }
            else
            {
                if (Model.ShowViewButton && result.Remarks != "Not played")
                {
                    <button class="btn btn-info btn-lg m-1 px-1" style="min-width: 4rem" ontouchstart="touchAvailable = true; EnterEdit(@result.BoardNumber)" onclick="if (!touchAvailable) EnterEdit(@result.BoardNumber)">
                        @localizer["Edit"]
                    </button>
                    <button class="btn btn-secondary btn-lg px-1" style="min-width: 4rem" ontouchstart="touchAvailable = true; View(@result.BoardNumber)" onclick="if (!touchAvailable) View(@result.BoardNumber)">
                        @localizer["View"]
                    </button>
                }
                else
                {
                    <button class="btn btn-info btn-lg m-1 px-1" style="min-width: 4.8rem" ontouchstart="touchAvailable = true; EnterEdit(@result.BoardNumber)" onclick="if (!touchAvailable) EnterEdit(@result.BoardNumber)">
                        @localizer["Edit"]
                    </button>
                }
            }
        </div>
        <div class="col-5 px-0 align-self-center">
            <h4>
                @Html.Raw(result.DisplayContract)
            </h4>
        </div>
    </div>
}

<script>
    var isSubmitted = false;

    function OKButtonClick() {
        if (document.getElementById("OKButton").disabled) return;
        if (!isSubmitted) {
            isSubmitted = true;
            if (@Model.GotAllResults.ToString().ToLower()) {
                location.href = '@Url.Action("Index", "ShowRankingList")?deviceNumber=@Model.TabletDeviceNumber';
            }
            else {
                var notAllResultsModal = new bootstrap.Modal(document.getElementById("notAllResultsModal"), { backdrop: 'static' });
                notAllResultsModal.show();
                isSubmitted = false;
            }
        }
    }

    function EnterEdit(n) {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "EnterContract")?deviceNumber=@Model.TabletDeviceNumber&boardNumber=' + n;
        }
    }

    function View(n) {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowTraveller")?deviceNumber=@Model.TabletDeviceNumber&boardNumber=' + n + '&fromView=true';
        }
    }
</script>