<!-- TabScore2, a wireless bridge scoring program.  Copyright(C) 2025 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore2.Models.SelectTableNumberModel

<div class="row mt-4">
    <div class="col-12 text-center">
        <h2>
            @localizer["SelectTableNumber"]
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        @for (int i = 1; i <= Model.NumTables && i < 6; i++)
        {
            <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                @i
            </button>
        }
    </div>
</div>

@if (Model.NumTables > 5)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 6; i <= Model.NumTables && i < 11; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 10)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 11; i <= Model.NumTables && i < 16; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 15)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 16; i <= Model.NumTables && i < 21; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}
@if (Model.NumTables > 20)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 21; i <= Model.NumTables && i < 26; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.NumTables > 25)
{
    <div class="row">
        <div class="col-12 text-center p-0">
            @for (int i = 26; i <= Model.NumTables && i < 31; i++)
            {
                <button id="tn@(i)" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; selectTableNumber('@i')" onclick="if (!touchAvailable) selectTableNumber('@i')">
                    @i
                </button>
            }
        </div>
    </div>
}

@if (Model.Confirm)
{
    <div id="tableRegisteredModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-danger">
                    <p class="modal-title text-center">
                        <h3>@localizer["Warning"]</h3>
                    </p>
                </div>
                <div class="modal-body">
                    <p>@localizer["ErrorTableRegistered1"] @Model.TableNumber @localizer["ErrorTableRegistered3"]</p>
                </div>
                <div class="modal-footer" style="justify-content:space-between">
                    <button class="btn btn-lg btn-danger" onclick="modalLogOn()">
                        <span class="icon-check-circle"></span> @localizer["Register"]
                    </button>
                    <button class="btn btn-lg btn-success" data-bs-dismiss="modal">
                        @localizer["Cancel"] <span class="icon-times-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var tableRegisteredModal = new bootstrap.Modal(document.getElementById("tableRegisteredModal"), { backdrop: 'static' });
        tableRegisteredModal.show();

        function modalLogOn() {
            if (!isSubmitted) {
                isSubmitted = true;
                location.href = '@Url.Action("OKButtonClick", "SelectTableNumber")?sectionId=@Model.SectionId&tableNumber=@Model.TableNumber&confirm=true';
            }
        }
    </script>
}

<script>
    var tableNumber = "";
    var isSubmitted = false;

    function selectTableNumber(n) {
        if (tableNumber != "") {
           document.getElementById("tn" + tableNumber).className = "btn btn-primary btn-lg m-1 px-0";
        }
        document.getElementById("tn" + n).className = "btn btn-warning btn-lg m-1 px-0";
        tableNumber = n;
        document.getElementById("OKButton").disabled = false;
    }

    function OKButtonClick() {
        if (document.getElementById("OKButton").disabled) return;
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "SelectTableNumber")?sectionId=@Model.SectionId&tableNumber=' + tableNumber + '&confirm=false';
        }
    }
</script>