<!-- TabScore2, a wireless bridge scoring program.  Copyright(C) 2025 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

     @model TabScore2.Models.ShowTravellerModel

<div class="row mt-4">
    @if (Model.HandRecord)
    {
        <div class="col-9 p-0">
            <div class="row">
                <div class="col-12 p-0 text-center">
                    <h2>
                        @localizer["Board"] @Model.BoardNumber
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0 text-center">
                    @if (Model.PercentageNS == string.Empty)
                    {
                        <h4>
                            @localizer["Traveller"]
                        </h4>
                    }
                    else
                    {
                        <h4>
                            @localizer["N"]@localizer["S"]: @Model.PercentageNS - @localizer["E"]@localizer["W"]: @Model.PercentageEW
                        </h4>
                    }
                </div>
            </div>
        </div>
        <div class="col-3 p-0">
            <button class="btn btn-outline-light btn-lg px-2 py-1 float-end" ontouchstart="touchAvailable = true; handRecordClick()" onclick="if (!touchAvailable) handRecordClick()">
                <img src="~/Cards Logo.png" />
            </button>
        </div>
    }
    else
    {
        <div class="col-12 p-0 text-center">
            <h2>
                @localizer["Board"] @Model.BoardNumber
            </h2>
        </div>
        <div class="col-12 p-0 text-center">
            @if (Model.PercentageNS == string.Empty)
            {
                <h4>
                    @localizer["Traveller"]
                </h4>
            }
            else
            {
                <h4>
                    @localizer["N"]@localizer["S"]: @Model.PercentageNS - @localizer["E"]@localizer["W"]: @Model.PercentageEW
                </h4>
            }
        </div>
    }
</div>

<div class="row">
    <div class="col-12 p-0">
        <table class="table table-sm table-bordered text-center" style="margin:auto; width:50%">
            <thead class="thead-dark">
                <tr>
                    <th>@localizer["N"]@localizer["S"]</th>
                    <th>@localizer["E"]@localizer["W"]</th>
                    <th>@Html.Raw(localizer["Contract"])</th>
                    <th>@localizer["ByOnTraveller"]</th>
                    <th>@Html.Raw(localizer["Lead"])</th>
                    <th>@localizer["N"]@localizer["S"] @Html.Raw(localizer["Score"])</th>
                    <th>@localizer["E"]@localizer["W"] @Html.Raw(localizer["Score"])</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {
                   if (result.Highlight)
                    {
                        <tr class="table-success">
                            <td>@result.NumberNorth</td>
                            <td>@result.NumberEast</td>
                            <td style="white-space: nowrap">@Html.Raw(result.DisplayContract)</td>
                            <td>@result.DisplayDeclarerNSEW</td>
                            <td>@Html.Raw(result.DisplayLeadCard)</td>
                            <td>@Html.Raw(result.ScoreNS)</td>
                            <td>@Html.Raw(result.ScoreEW)</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@result.NumberNorth</td>
                            <td>@result.NumberEast</td>
                            <td style="white-space: nowrap">@Html.Raw(result.DisplayContract)</td>
                            <td>@result.DisplayDeclarerNSEW</td>
                            <td>@Html.Raw(result.DisplayLeadCard)</td>
                            <td>@Html.Raw(result.ScoreNS)</td>
                            <td>@Html.Raw(result.ScoreEW)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var isSubmitted = false;

    function OKButtonClick() {
        if (document.getElementById("OKButton").disabled) return;
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowBoards")';
        }
    }

    function BackButtonClick() {
        if (document.getElementById("BackButton").disabled) return;
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ConfirmResult")';
        }
    }

    function handRecordClick() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowHandRecord")?boardNumber=@Model.BoardNumber&fromView=@Model.FromView.ToString().ToLower()';
        }
    }
</script>

