<!-- TabScore2, a wireless bridge scoring program.  Copyright(C) 2024 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore2.Models.ShowHandRecord
@using TabScore2.Globals

<div class="row mt-4">
    <div class="col-12 text-center p-0">
        <h2>
            @localizer["Board"] @Model.BoardNumber
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-4">
        <h5>
            @localizer["Dealer"] @Model.Dealer
        </h5>
    </div>
    <div class="col-3">
        <div class="row">
            <h5><span style="color:black">&spades;</span><span id="TS"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span><span id="TH"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span><span id="TD"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span><span id="TC"></span></h5>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<div class="row">
    <div class="col-4 pl-4">
        <div class="row">
            <h5><span style="color:black">&spades;</span><span id="LS"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span><span id="LH"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span><span id="LD"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span><span id="LC"></span></h5>
        </div>
    </div>
    <div class="col-4 px-3 py-1" style="background-color:green">
        <div class="row">
            <div id="TDir" class="col-12 my-0 text-center text-white h5"></div>
        </div>
        <div class="row">
            <div id="THCP" class="col-12 text-center text-info"></div>
        </div>
        <div class="row align-items-center">
            <div id="LDir" class="col-2 m-0 px-0 text-center text-white h5"></div>
            <div id="LHCP" class="col-3 m-0 px-0 text-center text-info"></div>
            <div class="col-2 m-0 px-0"></div>
            <div id="RHCP" class="col-3 m-0 px-0 text-center text-info"></div>
            <div id="RDir" class="col-2 m-0 px-0 text-center text-white h5"></div>
        </div>
        <div class="row">
            <div id="BHCP" class="col-12 text-center text-info"></div>
        </div>
        <div class="row">
            <div id="BDir" class="col-12 my-0 text-center text-white h5"></div>
        </div>
    </div>
    <div class="col-4 pl-4">
        <div class="row">
            <h5><span style="color:black">&spades;</span><span id="RS"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span><span id="RH"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span><span id="RD"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span><span id="RC"></span></h5>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-4 p-0 text-center">
        @if (Model.EvalNorthNT != "###")
        {
            <table class="table-sm table-bordered text-center mt-1 bg-white" style="font-size:smaller; margin:auto; width:50%">
                <thead>
                    <tr>
                        <th></th>
                        <th>@localizer["NT"]</th>
                        <th style="color:black">&spades;</th>
                        <th style="color:red">&hearts;</th>
                        <th style="color:lightsalmon">&diams;</th>
                        <th style="color:lightslategrey">&clubs;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@localizer["N"]</td>
                        <td>@Model.EvalNorthNT</td>
                        <td>@Model.EvalNorthSpades</td>
                        <td>@Model.EvalNorthHearts</td>
                        <td>@Model.EvalNorthDiamonds</td>
                        <td>@Model.EvalNorthClubs</td>
                    </tr>
                    <tr>
                        <td>@localizer["S"]</td>
                        <td>@Model.EvalSouthNT</td>
                        <td>@Model.EvalSouthSpades</td>
                        <td>@Model.EvalSouthHearts</td>
                        <td>@Model.EvalSouthDiamonds</td>
                        <td>@Model.EvalSouthClubs</td>
                    </tr>
                    <tr>
                        <td>@localizer["E"]</td>
                        <td>@Model.EvalEastNT</td>
                        <td>@Model.EvalEastSpades</td>
                        <td>@Model.EvalEastHearts</td>
                        <td>@Model.EvalEastDiamonds</td>
                        <td>@Model.EvalEastClubs</td>
                    </tr>
                    <tr>
                        <td>@localizer["W"]</td>
                        <td>@Model.EvalWestNT</td>
                        <td>@Model.EvalWestSpades</td>
                        <td>@Model.EvalWestHearts</td>
                        <td>@Model.EvalWestDiamonds</td>
                        <td>@Model.EvalWestClubs</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
        <div class="row">
            <h5><span style="color:black">&spades;</span><span id="BS"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:red">&hearts;</span><span id="BH"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightsalmon">&diams;</span><span id="BD"></span></h5>
        </div>
        <div class="row">
            <h5><span style="color:lightslategrey">&clubs;</span><span id="BC"></span></h5>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        @if (Model.PerspectiveButtonOption == HandRecordPerspectiveButtonOptions.NSEW || Model.PerspectiveButtonOption == HandRecordPerspectiveButtonOptions.NS)
        {
            <button id="btnNorth" class="btn btn-secondary m-1" ontouchstart="touchAvailable = true; setNSEW('North')" onclick="if (!touchAvailable) setNSEW('North')">
                @localizer["N"]
            </button>
            <button id="btnSouth" class="btn btn-secondary m-1" ontouchstart="touchAvailable = true; setNSEW('South')" onclick="if (!touchAvailable) setNSEW('South')">
                @localizer["S"]
            </button>
        }
        @if (Model.PerspectiveButtonOption == HandRecordPerspectiveButtonOptions.NSEW || Model.PerspectiveButtonOption == HandRecordPerspectiveButtonOptions.EW)
        {
            <button id="btnEast" class="btn btn-secondary m-1" ontouchstart="touchAvailable = true; setNSEW('East')" onclick="if (!touchAvailable) setNSEW('East')">
                @localizer["E"]
            </button>
            <button id="btnWest" class="btn btn-secondary m-1" ontouchstart="touchAvailable = true; setNSEW('West')" onclick="if (!touchAvailable) setNSEW('West')">
                @localizer["W"]
            </button>
        }
    </div>
</div>

<script>
    var model = @Json.Serialize(Model);
    var isSubmitted = false;
    var stringN = '@localizer["N"]';
    var stringE = '@localizer["E"]';
    var stringS = '@localizer["S"]';
    var stringW = '@localizer["W"]';
</script>
<script src="~/js/ShowHandRecord.js"></script>
<script>
    function OKButtonClick() {
        if (document.getElementById("OKButton").disabled) return;
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("Index", "ShowTraveller")?deviceNumber=@Model.TabletDeviceNumber&boardNumber=@Model.BoardNumber&fromView=@Model.FromView.ToString().ToLower()';
        }
    }
</script>
