<!-- TabScore2, a wireless bridge scoring program.  Copyright(C) 2024 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore2.Models.EnterContract

<div id="noTricksModal" class="modal fade">
    <div class="modal-content">
        <div class="modal-header text-primary">
            <p class="modal-title text-center">
                <h3>@Strings["Warning"]</h3>
            </p>
        </div>
        <div class="modal-body">
            <p>@Strings["EnterTricksTaken"]</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-success" data-bs-dismiss="modal">
                @Strings["OK"] <span class="fa fa-check-circle"></span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center p-0">
        <h3>
            @Strings["Board"] @Model.BoardNumber: @Html.Raw(Model.ContractDisplay)
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <h3>
            @Strings["EnterTricksTaken"]
        </h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center p-0">
        <button id="n0" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('0')" onclick="if (!touchAvailable) settricksTaken('0')">
            0
        </button>
        <button id="n1" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('1')" onclick="if (!touchAvailable) settricksTaken('1')">
            1
        </button>
        <button id="n2" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('2')" onclick="if (!touchAvailable) settricksTaken('2')">
            2
        </button>
        <button id="n3" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('3')" onclick="if (!touchAvailable) settricksTaken('3')">
            3
        </button>
        <button id="n4" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('4')" onclick="if (!touchAvailable) settricksTaken('4')">
            4
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <button id="n5" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('5')" onclick="if (!touchAvailable) settricksTaken('5')">
            5
        </button>
        <button id="n6" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('6')" onclick="if (!touchAvailable) settricksTaken('6')">
            6
        </button>
        <button id="n7" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('7')" onclick="if (!touchAvailable) settricksTaken('7')">
            7
        </button>
        <button id="n8" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('8')" onclick="if (!touchAvailable) settricksTaken('8')">
            8
        </button>
        <button id="n9" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('9')" onclick="if (!touchAvailable) settricksTaken('9')">
            9
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center p-0">
        <button id="n10" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('10')" onclick="if (!touchAvailable) settricksTaken('10')">
            10
        </button>
        <button id="n11" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('11')" onclick="if (!touchAvailable) settricksTaken('11')">
            11
        </button>
        <button id="n12" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('12')" onclick="if (!touchAvailable) settricksTaken('12')">
            12
        </button>
        <button id="n13" class="btn btn-primary btn-lg m-1 px-0" style="width:2.5em" ontouchstart="touchAvailable = true; settricksTaken('13')" onclick="if (!touchAvailable) settricksTaken('13')">
            13
        </button>
    </div>
</div>

<script>
    var tricksTaken = '@Model.TricksTaken';
    var urlOKButtonClick = '@Url.Action("OKButtonClick", "EnterTricksTaken")?deviceNumber=@Model.TabletDeviceNumber';
    var urlBackButtonClick = '@Url.Action("BackButtonClick", "EnterTricksTaken")?deviceNumber=@Model.TabletDeviceNumber';
</script>
<script src="~/js/totalTricksJS.js"></script>