<!-- TabScore2, a wireless bridge scoring program.  Copyright(C) 2024 by Peter Flippant
     Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabScore2.Models.ShowMoveModel

<div class="row mt-4">
    <div class="col-12 text-center">
        <h2>
            @localizer["MoveForRound"] @Model.NewRoundNumber
        </h2>
    </div>
</div>

@foreach (var move in Model)
{
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h3 style="color:blue">
                @localizer[move.DirectionString]: @move.PairNumber
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            @if (move.NewTableNumber == 0)
            {
                <h4>
                    @localizer["MoveToSitOut"]
                </h4>
            }
            else
            {
                if (move.Stay)
                {
                    <h4>
                        @localizer["StayAtTable"] @move.NewTableNumber @localizer[move.NewDirectionString]
                    </h4>
                }
                else
                {
                    <h4>
                        @localizer["MoveToTable"] @move.NewTableNumber @localizer[move.NewDirectionString]
                    </h4>
                }
                if (move.NewTableIsSitout)
                {
                    <h6>
                        [ @localizer["SittingOut"] ]
                    </h6>
                }
            }
        </div>
    </div>
}

@if (Model.BoardsNewTable >= 0)
{
    <div class="row mt-4">
        <div class="col-12 text-center">
            @if (Model.LowBoard == Model.HighBoard)
            {
                <h3 style="color:green">
                    @localizer["Board"] @Model.LowBoard
                </h3>
            }
            else
            {
                <h3 style="color:green">
                    @localizer["Boards"] @Model.LowBoard - @Model.HighBoard
                </h3>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            @if (Model.BoardsNewTable == 0)
            {
                <h4>
                    @localizer["PassToRelayTable"]
                </h4>
            }
            else
            {
                <h4>
                    @localizer["PassToTable"] @Model.BoardsNewTable
                </h4>
            }
        </div>
    </div>
}

@if (Model.TabletDevicesPerTable > 1)
{
    <div class="row mt-4">
        <div class="col-2">
        </div>
        <div class="col-8 text-center">
            @if (Model[0].Stay)
            {
                <h5>
                    @localizer["WaitThisTable"]
                </h5>
            }
            else
            {
                <h5>
                    @localizer["WaitNextTable"]
                </h5>
            }
        </div>
        <div class="col-2">
        </div>
    </div>
}

@if (Model.TableNotReadyNumber > 0)
{
    <div id="newTableNotReadyModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-danger">
                    <p class="modal-title text-center">
                        <h3>@localizer["Warning"]</h3>
                    </p>
                </div>
                <div class="modal-body">
                    <p>@localizer["ErrorTableNotReady1"] @Model.TableNotReadyNumber.ToString() @localizer["ErrorTableNotReady2"]</p>
                </div>
                <div class="modal-footer" style="justify-content:space-between">
                    <button class="btn btn-lg btn-success" data-bs-dismiss="modal">
                        @localizer["OK"] <span class="fa fa-times-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var newTableNotReadyModal = new bootstrap.Modal(document.getElementById("newTableNotReadyModal"), { backdrop: 'static' });
        newTableNotReadyModal.show();
    </script>
}

<script>
    var isSubmitted = false;

    function OKButtonClick() {
        if (document.getElementById("OKButton").disabled) return;
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "ShowMove")?deviceNumber=@Model.TabletDeviceNumber&newRoundNumber=@Model.NewRoundNumber';
        }
    }
</script>
